<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="freetable" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a href="#">Reservations</a>
          </li>
          <li>
            <a href="#">Coronavirus</a>
          </li>
          <li>
            <a href="#">Your calendar</a>
          </li>
          <li>
            <a href="#">My Profile</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for restaurants ..." />
              <button class="au-btn-submit" type="submit">
                Search
              </button>
            </form>
            <div class="cart-area d-n">
              <a href="shopping-detail.html">
                <div class="total">Total reservations <span> 2</span> </div> <i class="fas fa-utensils" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Address</th>          
          <th>Average price for meal</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let restaurant of restaurants | async">
          <td><img src="{{ restaurant.imageUrl }}" class="img-responsive"></td>
          <td>{{restaurant.name}}</td>
          <td>{{restaurant.address}}</td>
         
          <td>{{restaurant.averagePriceForMeal}}</td>
          <td><button (click)="restaurantDetails(restaurant.id)" class="btn btn-danger">Details</button>

          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div> -->
<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">
          <div class="row">

              <!-- loop over the collection of products -->
              <div *ngFor="let restaurant of restaurants | async" class="col-md-3">

                  <div class="product-box">
                      <img src="{{ restaurant.imageUrl }}" class="img-responsive">
                      <h1>{{ restaurant.name }}</h1>
                      <!-- <div class="price"> Average price for meal: {{ tempRestaurant.averagePriceForMeal | currency:'PLN' }}</div> -->
                      <a href="#" class="primary-btn">Reserve table</a>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>


    
      
