<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">
          <div class="row">

              <!-- loop over the collection of products -->
              <div *ngFor="let restaurant of restaurants | async" class="col-md-3">

                  <div class="product-box">
                      <a routerLink="/customer/{{restaurant.id}}">
                        <img src="{{ restaurant.imageUrl }}" class="img-responsive">
                      </a>
                      <a routerLink="/customer/{{restaurant.id}}">
                        <h1>{{ restaurant.name }}</h1>
                      </a>
                      <!-- <div class="price"> Average price for meal: {{ tempRestaurant.averagePriceForMeal | currency:'PLN' }}</div> -->
                      <a href="#" class="primary-btn">Reserve table</a>
                  </div>

              </div>
          </div>
      </div>
  </div>


    
      
