
<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <router-outlet></router-outlet>

  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/images/logo.png" alt="freetable" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin-menu">Admin Board</a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/restaurant-profile" class="nav-link" routerLink="restaurant-profile">Restaurant (Moderator)</a>
          </li>
          <li class="nav-item">
            <a href="/customer" class="nav-link" *ngIf="isLoggedIn" routerLink="customer">Customer</a>
          </li>
          <li class="nav-item">
            <a href="/reservations" class="nav-link" *ngIf="isLoggedIn" routerLink="reservations">Reservations</a>
          </li>
          
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" onsubmit="return false;" method="GET">
              <input class="au-input au-input-xl" type="text" name="search" placeholder="Search for restaurants ..." />
              <button class="au-btn-submit" type="submit">
                Search
              </button>
            </form>
            <div class="float-right" *ngIf="!isLoggedIn">
              <a href="#" class="btn btn-info btn-sm" routerLink="register">
                <span class="glyphicon glyphicon-arrow-up"></span> Sign
              </a>
              <a href="#" class="btn btn-info btn-sm" routerLink="login">
                <span class="glyphicon glyphicon-arrow-up"></span> Login
              </a>
            
            </div>
            <div class="float-right" *ngIf="isLoggedIn">
              <a href class="nav-link" (click)="logout()">LogOut</a>
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>

            </div>
            
            
            <app-cart-status></app-cart-status>
         
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>>
</div>
    

<!-- ENDS PAGE CONTAINER -->

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



    