<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Restaurant List</h2>
    <button (click)="createCustomer" class="btn btn-info" routerLink="add" class="nav-link" routerLinkActive="active" style="margin-left: 10px">Create</button>

  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Lastname</th>
          <th>Address</th>          
          <th>Average price for meal</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let restaurant of restaurants | async">
          <td>{{restaurant.id}}</td>
          <td>{{restaurant.name}}</td>
          <td>{{restaurant.address}}</td>
         
          <td>{{restaurant.averagePriceForMeal}}</td>
          <td><button (click)="deleteRestaurant(restaurant.id)" class="btn btn-danger">Delete</button>
              <button (click)="restaurantDetails(restaurant.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updateRestaurant(restaurant.id)" class="btn btn-info" style="margin-left: 10px">Update</button>

          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>