<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <table class="table table-bordered">
                <tr>
                    <th width="25%">Restaurant image</th>
                    <th width="25%">Restaurant name</th>
                    <th width="25%">Table number</th>
                    <th width="25%">Number of seats</th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempCartItem.restaurantName }}</p>
                    </td>
                    <td>
                        <p>{{ tempCartItem.numberInRestaurant }}</p>
                    </td>
                    <td>
                        <p>{{ tempCartItem.numberOfSeats }}</p>
                    </td>
                </tr>
            </table>

            <button  (click)="save()" type="submit" class="btn btn-success">Confirm your reservation(s)</button>

        </div>
    </div>
</div>

